.custom-checkbox-container{
  margin-top: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  display: flex;
  margin-left: .5rem;
}

.custom-checkbox-text{
  margin-left: .5rem;
  color: #808080;
}

input[type=checkbox] {
  transform: scale(1.2);
  color: #796a5b;
  background-color: #796a5b;

}