// Bid.scss
.bidContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.564rem 1.564rem;
    border-radius: 10.12px;
    background-color: #ffffff;
    width: 84%;
    gap: 6.256px;
    color: #000000;
    font-family: 'Inter';
    font-size: 78%;
}

.bidHeader,
.bidFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10.35px;
    justify-content: flex-start;
}

.bidHeaderContainer,
.bidderInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bidHeaderImage {
    border-radius: 3.68px;
    width: 5.32rem;
    height: 5.32rem;
    overflow: hidden;
    flex-shrink: 0;
}

.bidderName {
    font-weight: 500;
    font-size: 0.938rem;
}

.bidderStatsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.34rem;
    font-weight: 500;
}

.ratingIcon,
.messageIcon,
.currencyIcon {
    width: 0.893rem;
    height: 0.893rem;
}

.bidderRatingContainer,
.messageCount,
.currencyCount,
.starRating {
    gap: 0.244rem;
}

.bidInfoContainer {
    margin-left: auto;
    text-align: right;
}

.bidTitle {
    font-weight: 500;
    text-align: right;
    color: #6C6C6C;
    font-size: 0.938rem;
}

.bidAmount {
    font-size: 1.34rem;
    color: #000000;
}

.bidDuration {
    font-weight: 500;
    font-size: 0.782rem;
    color: #6C6C6C;
}

.bidDescriptionText {
    font-weight: 500;
    font-size: 0.703rem;
}

.showMoreText {
    color: #0000ff;
    font-size: 0.703rem;
}

.responseContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    gap: 0.34rem;
    width: 100%;
}

.replyInfoText {
    font-weight: 500;
    font-size: 0.703rem;
    color: #475467;
}

.actionButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: max-content;
    gap: 0.34rem;
}

.chatButton,
.acceptButton {
    cursor: pointer;
    border: 0;
    border-radius: 6.092px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    width: min-content;
    padding: 0.34rem 0.68rem;
}

.chatButton {
    border: 0.068px solid #D9D9D9;
    align-items: center;
    
}

.acceptButton {
    background-color: #037142;
}

.acceptText,
.buttonText {
    font-size: 0.806rem;
    font-weight: 500;
    text-align: left;
}

.dot {
    color: #037142;
    font-size: 1.172rem;
    line-height: 0.782rem;
}

.acceptText {
    color: #ffffff;
}