.MainHero {
    &__header{
        &--text{
            z-index: 2;
            font-family: 'Nohemi';
            color: #F7E0C8;
            font-size: 5rem;
            font-weight: bold;

            @media (max-width: 768px) {
                font-size: 3.5rem; // Adjust the font size for smaller screens
                text-align: center;
                margin-top: 30px;
            }
        }
    }
    &__content{
        &--text{
            z-index: 2;
            font-family: 'Inter';
            color: #F7E0C8;
            font-size: 1.3rem;

            @media (max-width: 768px) {
                font-size: 0.8rem; // Adjust the font size for smaller screens
                text-align: center;
            }
        }
        padding: 2rem  1rem;

        @media (max-width: 768px) {
            padding: 1rem; // Adjust the padding for smaller screens
        }
    }
}