
.MainHero {
    &__header{

        &--text{
            z-index: 2;
            font-family: 'Nohemi';
            color: #F7E0C8;
            font-size: 6rem;
            font-weight: bold;
        }
    }
    &__content{
        &--text{
            z-index: 2;
            font-family: 'Inter';
            color: #F7E0C8;
            font-size: 1.3rem;
        }
        padding: 2rem  1rem;
    }
}