.CustomerProjects {
    width: 95%;
    overflow-x: auto;
    height: 84vh;

    @media (max-width: 768px) {
        width: 100%; // Adjust as needed
        height: auto; // Adjust as needed
    }

    &__header {
        background-color: white;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        padding-left: 1rem;
        padding-top: 2rem;
        padding-bottom: .7rem;
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;

        @media (max-width: 768px) {
            font-size: 1.5rem; // Adjust as needed
            padding-left: 0.5rem; // Adjust as needed
            padding-top: 1rem; // Adjust as needed
            padding-bottom: 0.5rem; // Adjust as needed
        }
    }

    &__body{
        background-color: white;
        padding: 1rem;
        padding-top: 0;
        padding-bottom: 1rem;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;

        @media (max-width: 768px) {
            font-size: 1rem; // Adjust as needed
            padding: 0.5rem; // Adjust as needed
            padding-top: 0; // Adjust as needed
            padding-bottom: 0.5rem; // Adjust as needed
        }
    }
}