@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,300;1,9..144,800&display=swap');

.MainMeet {
    background-color: #E7D195;
    height: 150vh;
    width: 100vw;
    margin-bottom: 50px;
    overflow: hidden;

    &__meet {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--t1 {
            padding-top: 200px;
            font-family: 'Arges-Thin';
            font-size: 250px;
            font-weight: 1000;
            color: #292929;
            line-height: 190px;
        }

        &--t2 {
            font-family: 'Fraunces', serif;
            color: #F98B76;
            font-style: italic;
            font-size: 300px;
            font-weight: 1000;
            line-height: 0px;
        }

        &--t3 {
            font-family: 'Arges-Thin';
            font-size: 250px;
            font-weight: 1000;
            color: #292929;
            line-height: 465px;
        }


        @media (max-width: 768px) {
            height: 60vh;

            &--t1 {
                padding-top: 100px;
                font-size: 175px;
                line-height: 130px;
            }

            &--t2 {
                font-size: 175px;
                line-height: 0px;
            }

            &--t3 {
                font-size: 175px;
                line-height: 300px;
            }

        }

    }

    &__team {

        .carousel-team {
            margin-right: -20px;
            margin-left: -20px;
        }

        .carousel {
            // width: 50%;
            margin: 0 auto;
            overflow: hidden;
        }

        @media (max-width: 768px) {

            // width: 50%;
            .carousel-team {
                margin-right: 0px;
                margin-left: 0px;
            }

        }



    }

    @media (max-width: 768px) {
        height: 110vh;
    }
}

// .carousel .carousel-item {
//     width: 20%;
//     /* Show 5 items on desktop */
// }

// @media (max-width: 768px) {
//     .carousel .carousel-item {
//         width: 100%;
//         /* Show 1 item on mobile */
//     }
// }

$animationSpeed: 30s;

.SportsSlider {
    width: 100vw;
    position: relative;
    margin: 0 0;
    direction: rtl;

    &::before,
    &::after {
        content: "";
        position: absolute;
        min-width: 500px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    &__track {
        animation: SportsScroll $animationSpeed linear infinite;
        display: flex;
        gap: 2rem;
        width: max-content;

        &--item {
            //   background-color: $primaryColor;
            margin: 0;
            @include make-flex(column, center, center);
            border-radius: 15px;
            padding: 0;
            text-align: center;

            @include respondAt(915px) {
                @include box(10rem, 100%);
            }

            &--image {
                // background-color: red;
                border-radius: 10px;
                width: 13rem;
                height: 13rem;
                aspect-ratio: 1/1;

                @include respondAt(915px) {
                    width: 100%;
                    height: 100%;
                }
            }

            &--heading {
                font-size: 1.5rem;
                font-family: "Migra";
                text-transform: uppercase;
                // color: $backgroundColor;
                padding: 0.5rem 0;
            }
        }
    }
}

@keyframes SportsScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(50%);
    }
}