.MainFoot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
    font-family: 'Arges';
    background-color: #292929;
    height: 95vh;

    &__sub1 {
        color: #E7D195;
        font-size: 250px;
        font-weight: bold;

        @media (max-width: 768px) {
            font-size: 100px;
        }
    }

    &__sub2 {
        color: #C0F7FF;
        font-size: 40px;
        font-family: 'Arges-Thin';
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: -5vw;

        &--link1{
            &:hover {
                cursor: pointer;
            }

            @media (max-width: 768px) {
                margin-left: 6vw;
            }
        }

        &--links{
            margin-left: 6vw;
            &:hover {
                cursor: pointer;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            font-size: 35px;
            margin-top: 0; // Adjust margin-top for smaller screens
        }
    }

    &__sub3 {
        color: #C0F7FF;
        font-family: 'Inter', sans-serif;
        font-size: 22px;

        @media (max-width: 768px) {
            font-size: 20px;
            padding: 10px 0px;
            margin-top: 0; // Adjust margin-top for smaller screens
        }
    }

    &__sub7 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 768px){
            flex-direction: column;
            margin-bottom: 30px;
        }


        &--sub4 {
            background-color: #F98B76;
            padding: 20px;
            color: #292929;
            font-family: 'Arges-Thin';
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 40%;
            // margin-bottom: 12vh;

            &--sub1 {
                font-size: 45px;
                font-weight: 900;
            }

            &--sub2 {
                font-size: 20px;
            }

            &--sub3 {
                font-size: 30px;
                color: #292929;
                text-align: right;
                font-weight: 800;
            }

            @media (max-width: 768px) {
                width: 100%; // Make the width 100% on smaller screens
                height: auto; // Adjust the height automatically
                align-self: center;
                &--sub1 {
                    font-size: 30px;
                }

                &--sub2 {
                    font-size: 25px;
                }

                &--sub3 {
                    font-size: 25px;
                }
                margin: 0px 0px 20px 0px;
            }
        }
        &--sub8{
            display: flex;
            flex-direction: column;

            &--text{
                color: #FFFFFF;
                font-size: 2.5rem;

                @media (max-width: 768px) {
                    text-align: center;
                    font-size: 2rem; // Reduce the font size on smaller screens
                }
            }

            &--sub9 {
                display: flex;
                flex-direction: row;
                justify-content: center;

                &--icon {
                    color: #C0F7FF;
                    font-size: 2.5rem;
                    margin-left: 1vw;
                    margin-top: 1vh;
                }
            }

            @media (max-width: 768px) {
                &--text {
                    font-size: 2rem; // Reduce the font size on smaller screens
                }

                &--icon {
                    font-size: 2rem; // Reduce the font size on smaller screens
                }
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
        padding: 0;
    }
}