.MainMission {
    font-family: 'Arges-Thin';
    font-size: 50px;
    text-transform: uppercase;

    h1 {
        color: #F98B76;
        font-weight: 900;

    }

    p {
        color: #FFF;
        font-weight: 900;
        font-size: 100px;
    }

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    &__sub1 {
        padding: 20px 30px;
        grid-area: 1 / 1 / 7 / 13;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 50vh;

        &--sub1 {
            grid-area: 1 / 1 / 4 / 4;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            // justify-content: space-evenly;
        }

        &--sub2 {
            grid-area: 2 / 4 / 3 / 5;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;
            padding-right: 10px;

            img {
                width: 150px;
                height: auto;

                @media (max-width: 768px) {
                    width: 100px;
                }
            }
        }

        &--sub3 {
            grid-area: 4/ 1 / 5 / 5;
            font-family: 'Inter', sans-serif;
            color: #F7E0C8;
            font-size: 21px;
            text-transform: none;
            font-weight: 320;

            @media (max-width: 768px) {
                font-size: 15px;
            }


        }

        hr {
            width: 100%;
        }

        @media (max-width: 768px) {
            height: auto;
            padding: 0px 20px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

    }

    &__sub2 {
        padding: 0px 30px;

        grid-area: 7 / 1 / 11 / 13;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 35vh;

        &--sub1 {
            grid-area: 1 / 1 / 6 / 4;
        }

        &--sub2 {
            grid-area: 2 / 4 / 4 / 5;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;

            img {
                width: 108px;
                height: auto;
                @media (max-width: 768px) {
                    width: 80px;
                }
            }
        }

        &--hr {
            grid-area: 6 / 1 / 7 / 5;
        }

        @media (max-width: 768px) {
            height: auto;
        }

    }

    &__sub3 {
        padding: 20px 30px;

        grid-area: 11 / 1 / 15 / 13;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 30vh;

        &--sub1 {
            grid-area: 1 / 1 / 6 / 4;
        }

        &--sub2 {
            grid-area: 2 / 4 / 5 / 5;
            grid-area: 2 / 4 / 4 / 5;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;

            img {
                width: 150px;
                height: auto;
            }

            @media (max-width: 768px) {
                img {
                    width: 100px;
                }

                // justify-content: space-evenly;
                
            }

        }

        @media (max-width: 768px) {
            height: auto;
            display: flex;
            padding: 0px 20px;
        }


    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: 29px;

        p{
            font-size: 50px;
        }

    }



}