.div-hero-marquee {
    background-color: var(--secondary-color);
    border-radius: 5vh; // 29.21px to vh
    height: 44vh; // 270px to vh
    width: 33vh; // 212px to vh
}

.card_photo {
    width: 19vh;
    height: auto;
    padding-left: 7vh;
    padding-top: 2vh;
}

.div-hero-marquee .frame {
    justify-content: center;
    background-color: #192928;
    border-radius: 4.943vh; // 49.43px to vh
    width: 80%;
    display: inline-flex;
    padding: 1.1vh 1.5vh; // 11px and 15px to vh
    position: relative;
    // top: 36vh; // 210px to vh
    margin-left: 2vh;
}

.div-hero-marquee .text-wrapper {
    color: var(--secondary-color);
    font-family: "Satoshi-Bold", Helvetica;
    font-size: 2.2vh; // 12px to vh
    font-weight: 1000;
    letter-spacing: 0;
    position: relative;
    text-align: center;
    width: fit-content;
}
