.MainCust {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nohemi', sans-serif;

    @media (max-width: 768px) {
        flex-direction: column; // Stack the items vertically on smaller screens
    }

    &_header{
        &--text1{
            color: #C0F7FF;
            font-size: 4rem;
            font-weight: bold;
            margin-top: 25px;

            @media (max-width: 768px) {
                font-size: 1.9rem; // Adjust the font size for smaller screens
                text-align: center;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
        &--text2{
            color: #C0F7FF;
            font-size: 1.2rem;
            margin-top: 20px;
            text-align: center;

            @media (max-width: 768px) {
                font-size: 0.8rem;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }

    &_customdes {
        margin-top: 10vh;
        align-items: center;
        margin-left: 5vw;

        @media (max-width: 768px) {
            flex-direction: column; // Stack the items vertically on smaller screens
            margin-left: 10vw; // Remove the left margin on smaller screens
            margin-top: 5vh;
            // width: 90%;
        }

        &--heading {
            color: #F98B76;
            font-size: 2.5rem;
            font-weight:bolder;

            @media (max-width: 768px) {
                font-size: 1.5rem; // Adjust the font size for smaller screens
            }
        }

        &--content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &--text {
                color: #F7E0C8;
                font-size: 1.2rem;
                width: 54%;
                margin-top: 20px;

                @media (max-width: 768px) {
                    font-size: 0.8rem; // Adjust the font size for smaller screens
                    width: 100%;
                }
            }

            &--image{
                width: 140px;
                margin-right: 4vw;
                margin-top: -4vh;
                height: 140px;

                @media (max-width: 768px) {
                    width: 130px; // Make the image take up the full width on smaller screens
                    margin-right: 0; // Remove the right margin on smaller screens
                    height: 130px;
                }
            }

            &--text3 {
                color: #F7E0C8;
                font-size: 1.2rem;
                width: 54%;
                margin-top: 20px;

                @media (max-width: 768px) {
                    font-size: 0.8rem; // Adjust the font size for smaller screens
                    width: 100%;
                }
            }
        }
    }

    &_trustimage {
        &--image1{
            width: 100%;
            margin-top: 5vh;

            @media (max-width: 768px) {
                width: 100%; // Make the image take up the full width on smaller screens
                margin-bottom: 90px;
            }
        }
    }
}