.MainCust {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nohemi', sans-serif;

    &_header{

        &--text1{
            color: #C0F7FF;
            font-size: 4rem;
            font-weight: bold;
            margin-top: 25px;
        }
        &--text2{
            color: #C0F7FF;
            font-size: 1.2rem;
            margin-top: 20px;
            text-align: center;
        }

    }

    &_customdes {
        margin-top: 10vh;
        align-items: center;
        margin-left: 5vw;


        &--heading {
            color: #F98B76;
            font-size: 2.5rem;
            font-weight:bolder;
        }

        &--content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &--text {
                color: #F7E0C8;
                font-size: 1.2rem;
                width: 54%;
                margin-top: 20px;
            }

            &--image{
                width: 130px;
                margin-right: 4vw;
                margin-top: -4vh;
            }

            &--text3 {
                color: #F7E0C8;
                font-size: 1.2rem;
                width: 54%;
                margin-top: 20px;
                // margin-left: -9vw;
            }

        }
    }

    &_customdes2 {
        margin-top: 10vh;
        align-items: center;
        margin-left: 2vw;


        &--heading {
            color: #F98B76;
            font-size: 2.5rem;
            font-weight:bolder;
        }

        &--content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &--text {
                color: #F7E0C8;
                font-size: 1.2rem;
                width: 54%;
                margin-top: 20px;
            }

            &--image{
                width: 130px;
                margin-left: 4.5vw;
                margin-top: -4vh;
            }

            &--text3 {
                color: #F7E0C8;
                font-size: 1.2rem;
                width: 44%;
                margin-top: 20px;
                // margin-left: -9vw;
            }

        }
    }

    &_trustimage {
        &--image1{
            width: 100%;
            margin-top: 5vh;
        }
    }

}