.Hero {
    font-family: 'Sprite Graffiti', sans-serif;

    @media (max-width: 768px) {
        height: 70vh;
        padding-top: 0rem;
        width: 100vw;
        overflow-x: hidden;
    }

    &__images {

        &--wrapper::after {
            content: "";
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 160%;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 60%, rgb(10, 10, 10) 100%);
        }

        &--image7 {
            width: 100%;
            height: 80%;
            margin-bottom: -34vh;
            margin-left: 1vw;
        }

        @media (max-width: 768px) {
            width: 100vw;
            

        }
    }
}