.parent {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(9, 1fr);
    // grid-column-gap: 5px;
    // grid-row-gap: 5px;
    overflow: hidden !important;
}

.div1 {
    grid-area: 1 / 1 / 10 / 6;
    overflow: hidden;

    @media (max-width: 768px) {
        grid-area: 1 / 1 / 10 / 26;
    }
}

.div2 {
    grid-area: 1 / 6 / 2 / 26;
    overflow: hidden;

    @media (max-width: 768px) {
        grid-area: 10 / 1 / 10 / 26;
    }
}

.div3 {
    // padding-top: 22px;
    grid-area: 2 / 6 / 10 / 26;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        grid-area: 13 / 1 / 11 / 26;
        margin-top: 40px;
    }
}