.Main {
    font-family: 'Arges-Thin';

    &__content {
        // width: 96%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        box-sizing: border-box;

        background-color: #292929;

        &--img {
            width: 90vw;
            height: auto;
            border-radius: 25px;

            // @media (max-width: 768px) {
            //     height: 60vh;
            //     width: auto;
            //     padding: 0 20px;
            // }

        }

        @media (max-width: 768px) {
            width: 100%;
        }


    }
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
        overflow-x: hidden;
    }
}
