@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(243, 238, 234, 1);
}

@font-face {
  font-family: 'Arges';
  src: url('../arges.otf') format('opentype');
}

@font-face {
  font-family: 'Arges-Thin';
  src: url('../arges-thin.ttf') format('truetype');
}

:root {
  --black: rgba(0, 0, 0, 1);
  --primary-color: rgba(41, 41, 41, 1);
  --secondary-color: rgba(249, 139, 118, 1);
  --tertiary-color: rgba(231, 209, 149, 1);
  --variable-collection-poly-color: rgba(192, 247, 255, 1);
  --white: rgba(255, 255, 255, 1);
}