.ProjectDescription {
  &__top {
    background: linear-gradient(94.2deg, #582f00 0%, #381705 100%);
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &--box {
      width: 50rem;
      margin-bottom: 1rem;

      @media (max-width: 768px) {
        width: 90%; // Adjust as needed
      }

      &--text {
        color: white;
        font-family: "Inter";
        font-weight: 700;
        font-size: 2.2rem;
        margin-bottom: 0.7rem;
      }

      &--desc {
        color: white;
        font-family: "Inter";
        font-weight: 300;
        font-size: 1rem;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    padding-top: 0.7rem;

    &--box {
      background-color: white;
      width: 50rem;
      border-radius: 0.5rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (max-width: 768px) {
        width: 90%; // Adjust as needed
        padding-left: 0rem;
      }

      &__heading {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: rgba(88, 47, 0, 1);
      }

      &__desc {
        margin-top: 1rem;

        &--header {
          font-family: "Inter", sans-serif;
          font-weight: 600;
          font-size: 17px;
          color: #582f00;
        }

        &--text {
          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 15px;
          color: #582f00;
          margin-top: 0.3rem;
          margin-bottom: 1rem;
        }

        &--input {
          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 17px;
          color: rgba(88, 47, 0, 1);
          width: 40rem;
          height: 2rem;
          margin-top: 0.8rem;
          margin-bottom: 0.8rem;

          @media (max-width: 768px) {
            width: 80%; // Adjust as needed
          }
        }
      }

      &__attach {
        border-style: dashed;
        border-color: rgba(188, 197, 211, 1);
        display: flex;
        align-items: center;
        padding: 1rem;
        flex-direction: column;

        @media (max-width: 768px) {
          padding-left: 0rem;
          padding-right: 0rem;
        }

        &--header {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 1.2rem;

          @media (max-width: 768px) {
            padding-left: 0rem;
            padding-right: 0rem;
          }
        }

        &--logo {
          display: flex;
          align-items: center;
          background-color: rgba(226, 226, 226, 1);
          width: 26%;
          padding: 0.5rem;
          border-radius: 0.5rem;
          margin-right: 1rem;

          @media (max-width: 768px) {
            // width: 20%; // Adjust as needed
            padding-left: 0rem;
          }

          input {
            background-color: transparent;
          }

          &__image {
            margin-right: 0.3rem;
          }

          &--images {
            display: flex;
            align-items: center;
            flex-direction: row;
          }
        }

        &--text {
          font-family: "Inter", sans-serif;
        }

        &--images {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-evenly;
        }


      }

      &__skills {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;

        &--header {
          font-family: "Inter", sans-serif;
          font-weight: 600;
          font-size: 17px;
          color: rgba(88, 47, 0, 1);
        }

        input {
          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 17px;
          color: rgba(88, 47, 0, 1);
          width: 40rem;
          height: 2rem;
          margin-top: 0.8rem;
          margin-bottom: 0.8rem;

          @media (max-width: 768px) {
            width: 80%; // Adjust as needed
          }
        }
      }

      &__budget {
        &--heading {
          font-family: "Inter", sans-serif;
          font-weight: 600;
          font-size: 17px;
          color: rgba(88, 47, 0, 1);
        }

        &--text {
          display: flex;
          font-family: "Inter", sans-serif;

          &__max,
          &__min {
            margin-right: .3rem;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 17px;
            color: rgba(88, 47, 0, 1);
            margin-top: .4rem;
          }

          input {
            width: 10rem;
            height: 2rem;
            margin-top: 0.8rem;
            margin-bottom: 0.8rem;
            padding-left: 0.5rem;

            @media (max-width: 768px) {
              width: 60%; // Adjust as needed
            }
          }

        }
      }

      &__buttons {
        display: flex;
        margin-top: 1rem;
        margin-bottom: 2rem;

        &--back {
          border-color: rgba(88, 47, 0, 1);
          border: 1px solid;
          font-family: "Inter", sans-serif;
          padding-left: 2rem;
          padding-right: 2rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          border-radius: 0.3rem;
          margin-right: 1rem;
          cursor: pointer;
        }

        &--next {
          background-color: #381705;
          color: white;
          font-family: "Inter", sans-serif;
          padding-left: 2rem;
          padding-right: 2rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          border-radius: 0.3rem;
          cursor: pointer;
        }
      }

      &__location{

        &--text{

          &__select{
            // styled select 
            width: 30rem;
            height: 2rem;
            margin-top: 0.8rem;
            margin-bottom: 0.8rem;
            padding-left: 0.5rem;

            @media (max-width: 768px) {
              width: 80%; // Adjust as needed
            }

          }
        }
      }

    }
  }
}