.parent {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(9, 1fr);
    overflow: hidden !important;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.div1 {
    grid-area: 1 / 1 / 10 / 6;
    overflow: hidden;

    @media (max-width: 768px) {
        grid-area: 1 / 1;
    }
}

.div2 {
    grid-area: 1 / 6 / 2 / 26;
    overflow: hidden;

    @media (max-width: 768px) {
        grid-area: 2 / 1;
    }
}

.div3 {
    grid-area: 2 / 6 / 10 / 26;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        grid-area: 3 / 1;
    }
}