.Waste {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 70vw;
    }

    @media (max-width: 768px) {
        img{
            width: 115vw;
        }
        height: auto;
        padding: 80px 0px;
    }

}