// PricingSlider.scss
.pricing-slider {
  width: 95%;
  margin-top: 0rem;

  label {
    display: block;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    -webkit-appearance: none;
    height: .4rem;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    transition: opacity 0.2s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #796a5b;
      circle{
        width: .2rem;
        height: .2rem;
        background-color: white;
      }
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 50%;
      background: #4caf50;
      cursor: pointer;
    }
  }
}

.pricing-slider-text{
  margin-left: .5rem;
  color: #808080;
  font-family: 'Inter', sans-serif;
}